<div class="text-center container">
	<h3>Places2go</h3>
	<h5>Most popular places near you!</h5>
	<div *ngIf="user"><a href="#" class="btn btn-warning" (click)="this.logout()">Logout</a><br/><br/></div>
	<div *ngIf="!user"><a href="#" class="btn btn-warning" (click)="this.showLogin='true'">Login/Signup</a><br/><br/></div>
	<div *ngIf="showLogin" class="login-form" style="width:300px;margin:0 auto;">
		<form #f="ngForm" (ngSubmit)="handleSignup(f)" method="post" action="/api/signup">
			<input type="text" ngModel name="username" placeholder="username" class="form-control"><br/>
			<div id="pass-container"><input type="password" id="password" ngModel name="password" placeholder="password" class="form-control"></div><br/>
			<button type="submit" class="btn btn-success">Submit</button>
		</form><br/><br/>
	</div>
</div>

<div *ngIf="locations" class="container">
	<div class="list-group">
		<div *ngFor="let location of locations; let i = index">
			  <a href={{location.url}} target="_blank" class="list-group-item flex-list-container">
			  	<div class="thumbnail-container"><img src={{location.image_url}} class="img-responsive thumbnail"/></div>
			    <div class="list-group-item-text">
			    	<h5 class="list-group-item-heading">{{location.name}}</h5>
			    	Rating: {{location.rating}}<br/>
			    	Phone: {{location.phone}}<br/>
			    </div>
			    <a *ngIf="user" href="#" (click)="this.handleGoing(location.id, i)" id={{location.id}} class="going-button btn btn-primary">
			    	{{location.going}} going <div *ngIf="this.user.going.indexOf(location.id) !== -1" style="color:green;" class='fa fa-check'></div>
			    </a>
			    <a *ngIf="!user" href="#" class="going-button btn btn-primary" disabled="disabled">
			    	{{location.going}} going
			    </a>
			  </a>
		</div>
	</div>
</div>